<html>
    <head>
        <title>Application Form.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div>
            <h1 className="mainHeading">Insurance Application Form.</h1>
            <p className="paragraphText">Submit the form, once you filled it.</p>
            <div>
                <table className="formTable">
                <thead>
                        <tr>
                            <td>S.No.</td>
                            <td>Details</td>
                            <td>Inputs</td>
                        </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>i</td>
                        <td>Name of vendor/service provider.</td>
                        <td><%= i %></td>
                    </tr>
                    <tr>
                        <td>ii</td>
                        <td>Constitution of vendor/service provider.</td>
                        <td><%= ii %></td>
                    </tr>
                    <tr>
                        <td>iii</td>
                        <td>Whether vendor/service provider is an Indian entity or foreign entity.</td>
                        <td><%= iii %></td>
                    </tr>
                    <tr>
                        <td>iv</td>
                        <td>Nature/scope of services [please provide the full details point wise and including process as to how it is implemented].</td>
                        <td><%= iv %></td>
                    </tr>
                    <tr>
                        <td>v</td>
                        <td>Please specify whether the Service Provider will provide only the services without any licensing of software products/tools or it is only for software products without services or for both.</td>
                        <td><%= v %></td>
                    </tr>
                    <tr>
                        <td>vi</td>
                        <td>If software purchase agreement Whether source code will be got by BAGIC or not.</td>
                        <td><%= vi %></td>
                    </tr>
                    <tr>
                        <td>vii</td>
                        <td>Is the Service Provider provides its services with his employees come and work onsite of BAGIC servers or is it off site or both.</td>
                        <td><%= vii %></td>
                    </tr>
                    <tr>
                        <td>viii</td>
                        <td>Do BAGIC share any Confidential Information to the Service Provider in the process of availing the Services.</td>
                        <td><%= viii %></td>
                    </tr>
                    <tr>
                        <td>ix</td>
                        <td>Commercials approved by competent authority or not and if approved details thereof with relevant mails.</td>
                        <td><%= ix %></td>
                    </tr>
                    <tr>
                        <td>x</td>
                        <td>If use of the servers of vendor/service provider is involved then whether or not the servicers are in India.</td>
                        <td><%= x %></td>
                    </tr>
                    <tr>
                        <td>xi</td>
                        <td>Commercials approved by competent authority or not and if approved details thereof with relevant mails.</td>
                        <td><%= xi %></td>
                    </tr>
                    <tr>
                        <td>xii</td>
                        <td>If apart from Agreement any SOW to be agreed, whether IT has vetted such SOW and given go ahead or not. If not please vet and give clearance on the SOW.</td>
                        <td><%= xii %></td>
                    </tr>
                    <tr>
                        <td>xiii</td>
                        <td>The period of the Agreement with vendor/service provider</td>
                        <td><%= xiii %></td>
                    </tr>
                    <tr>
                        <td>xiv</td>
                        <td>Please inform is the period of the Agreement is locked without any right to terminate? If yes please send the competent authority’s approval. Please note that as per corporate governance guidelines, BAGIC have to have right to terminate the Agreement without any penalty and hence not having termination rights is contrary to IRDAI guidelines.</td>
                        <td><%= xiv %></td>
                    </tr>
                    <tr>
                        <td>xv</td>
                        <td>Is any auto renewal of term of the Agreement is there and whether such auto renewal is agreed by competent authority.</td>
                        <td><%= xv %></td>
                    </tr>
                    <tr>
                        <td>xvi</td>
                        <td>Are there any other specific conditions agreed with vendor/service provider? If yes please specify.</td>
                        <td><%= xvi %></td>
                    </tr>
                    <tr>
                        <td>xvii</td>
                        <td>Exact date from which MOU will be valid (effective date)</td>
                        <td><%= xvii %></td>
                    </tr>
                    <tr>
                        <td>xviii</td>
                        <td>Agreement/MOU is for what period?</td>
                        <td><%= xviii %></td>
                    </tr>
                    <tr>
                        <td>xix</td>
                        <td>Names of Signing authority to the agreement from tie up partner.</td>
                        <td><%= xix %></td>
                    </tr>
                    <tr>
                        <td>xx</td>
                        <td>Names of Signing authority to the agreement (BAGIC) (Not below the role of City Head).</td>
                        <td><%= xx %></td>
                    </tr>
                    <tr>
                        <td>xxi</td>
                        <td>Do we have any existing agreements with this party and if so copies of the same be provided.</td>
                        <td><%= xxi %></td>
                    </tr>
                    <tr>
                        <td>xxii</td>
                        <td>Any other aspects not covered above.</td>
                        <td><%= xxii %></td>
                    </tr>
                </tbody>
                </table>
                <h3 className="mainHeading">Partner Details.</h3>
                <table className="formTable">
                    <thead>
                        <tr>
                            <td>S.No.</td>
                            <td>Prerequisite</td>
                            <td>Data</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>a</td>
                            <td>Company Name and Address</td>
                            <td><%= a %></td>
                        </tr>
                        <tr>
                            <td>b</td>
                            <td>Company Spoc Name, Mobile No & email id</td>
                            <td><%= b %></td>
                        </tr>
                        <tr>
                            <td>c</td>
                            <td>IT Vendor Name and Address</td>
                            <td><%= c %></td>
                        </tr>
                        <tr>
                            <td>d</td>
                            <td>IT Spoc Name, Mobile No & email id</td>
                            <td><%= d %></td>
                        </tr>
                        <tr>
                            <td>e</td>
                            <td>IT platform to be used for development</td>
                            <td><%= e %></td>
                        </tr>
                        <tr>
                            <td>f</td>
                            <td>Application Development Start Date</td>
                            <td><%= f %></td>
                        </tr>
                        <tr>
                            <td>g</td>
                            <td>Application Development end Date</td>
                            <td><%= g %></td>
                        </tr>
                        <tr>
                            <td>h</td>
                            <td>Public ip address (UAT and Production)</td>
                            <td><%= h %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>